{{>layouts/header}}

<h1>안녕하세요!!! </h1>
<form class="container">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">병원 이름</th>
            <th scope="col">도로명 주소</th>
            <th scope="col">번호</th>
            <th scope="col">영업 상태</th>
        </tr>
        </thead>
        <tbody>

        {{#hospitals}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/hospitals/{{id}}/details">{{hospitalName}}</a></td>

                <td><a href="https://map.naver.com/v5/search/{{roadNameAddress}}"
                       target="_blank">{{roadNameAddress}}</a></td>

                <th scope="row">{{phone}}</th>
                <th scope="row">{{status}}</th>
            </tr>
        {{/hospitals}}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {{#condition}}

            {{#keyword}}
                <li class="page-item"><a class="page-link" href="?condition={{condition}}&keyword={{keyword}}&page={{previous}}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="?condition={{condition}}&keyword={{keyword}}&page={{next}}">Next</a></li>
            {{/keyword}}
        {{/condition}}
{{^condition}}
        {{^keyword}}
            <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
        {{/keyword}}
{{/condition}}
    </ul>
</form>
{{>layouts/footer}}