{{>layouts/header}}
<form class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">작성자 ID</th>
            <th scope="col">작성일자</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#posts}}
            <tr>
                <th>{{id}}</th>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{content}}</td>

                <td>{{userAccount}}</td>

                {{#isUpdated}}
                    <td>{{updatedDate}} {{isUpdated}}</td>
                {{/isUpdated}}
                {{^isUpdated}}
                    <td>{{createdDate}}</td>
                {{/isUpdated}}
            </tr>
        {{/posts}}
        </tbody>
    </table>
</form>


<form class="container" form action="/posts/new" method="get">


    <br>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">게시글 작성</button>
    </div>
</form>
{{>layouts/footer}}
