{{>layouts/header}}
<form class = "container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#posts}}
            <tr>
                <th>{{id}}</th>
                {{#title}}
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                {{/title}}
            {{#content}}
                <td>{{content}}</td>
                {{/content}}
            </tr>
        {{/posts}}
        </tbody>
    </table>
</form>


<form class="container" form action="/posts/new" method="get">


    <br>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">게시글 작성</button>
    </div>
</form>

