{{>layouts/header}}
<div>
    {{#post}}
        <body>

        <form class="container">


            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">{{id}}. {{title}}</li>

                <li class="list-group-item"> 작성자 : {{userAccount}}</li>

                {{#isUpdated}}
                    <li class="list-group-item"> 작성일자 : {{updatedDate}}  {{isUpdated}}</li>
                {{/isUpdated}}
                {{^isUpdated}}
                    <li class="list-group-item"> 작성일자 : {{createdDate}}</li>
                {{/isUpdated}}
                <hr>

                <li class="list-group-item">  {{content}}</li>
                <br>

            </ul>

            <hr>


        </form>
        <form class="container">
            <table class="table table-hover">
                <thead>
                <tr>

                    <th scope="col">작성 일자</th>
                    <th scope="col">아이디</th>
                    <th scope="col">댓글 내용</th>
                </tr>
                </thead>
                <tbody>
        </form>

        {{#comments}}
                    <tr>


                        <th scope="row">{{createdDate}}</th>
                        <th scope="row">{{userAccount}}</th>
                        <th scope="row">{{content}}</th>

                            <form class="container" form action="/comments/{{id}}/delete" method="get">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                 <input type="hidden" name="userAccount" value="{{userAccount}}"/>
                                    <th scope="row">    <input type="text" name="password" class="form-control" placeholder="비밀번호"></th>
                                    <th scope="row"> <button class="btn btn-warning" type="submit">댓글 삭제</button></th>
                                </div>
                            </form>

                    </tr>
                {{/comments}}

                </tbody>
            </table>

        <hr>

        <form class="container" form action="/comments" method="post">
            <input type="hidden" name="postId" value="{{id}}"/>

            <div class="mb-3">
                <label class="form-label">user ID</label>
                <input type="text" name="userAccount" class="form-control" placeholder="아이디">
            </div>

            <div class="mb-3">
                <label class="form-label">password</label>
                <input type="text" name="password" class="form-control" placeholder="비밀번호">
            </div>

            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea class="form-control" rows="2" name="content" placeholder="내용"></textarea>

            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">댓글 등록</button>
            </div>

        </form>

        <br>
        <br>


        <div align="center">
            <div style="display: inline-block">
                <form class="container" form action="/posts/{{id}}/edit" method="get">

                    <button type="submit" class="btn btn-primary btn-lg">게시글 수정</button>
                </form>
            </div>
            <br>
            <br>
            <div style="display: inline-block">
                <form class="container" form action="/posts/{{id}}/delete" method="get">
                        <input type="hidden" name="userAccount" value="{{userAccount}}"/>
                    <input type="text" name="password" class="form-control" placeholder="비밀번호">
                    <button type="submit" class="btn btn-danger btn-lg">게시글 삭제</button>
                </form>
            </div>
        </div>


        <div align="center">
            <form class="container" form action="/posts/list" method="get">
                <br>
                <button class="btn btn-success btn-lg" type="submit" style="width: 25%">게시글 전체 조회</button>
            </form>
        </div>
        </body>
    {{/post}}
</div>
{{>layouts/footer}}


